<div class="root">
  <div class="flex mt-10 tips">
    <div>
      <span>完成进度：</span>
      <span>{{
        alreadyUploadQueue.length +
          "/" +
          (alreadyUploadQueue.length + queue.length)
      }}</span>
    </div>

    <div class="f-r pro">
      <span>当前状态：</span>
      <span [style.color]="uQueue.status ? '#10dc60' : 'red'">{{
        uQueue.status ? "上传中…" : "暂停中"
      }}</span>
    </div>
    <app-upload></app-upload>

    <div>
      <button
        (click)="uQueue.suspend()"
        id="suspend"
        color="danger"
        fill="outline"
        [disabled]="isSuspend"
        size="small"
        class="f-r mr-10"
      >
        暂停
      </button>
      <button
        (click)="uQueue.restart()"
        id="restart"
        size="small"
        fill="outline"
        [disabled]="!isSuspend"
        class="f-r"
      >
        重新开始
      </button>
    </div>
  </div>

  <div class="do-main">
    <div class="uploading">
      <div class="t">上传中</div>
      <div class="title">
        <span class="name w25">项目</span>
        <span class="progress">上传进度</span>
        <span class="size-t">文件大小</span>
        <span class="w15" *ngIf="uploadStatus == 'uploading'">操作</span>
      </div>
      <div class="scroll">
        <app-item
          *ngFor="let item of queue; let i = index"
          [node]="item"
          [index]="i"
        ></app-item>
      </div>
    </div>
    <div class="uploaded">
      <div class="t">已上传</div>
      <div class="title">
        <span class="name w30">上传项目</span>
        <span class="progress w50">上传进度</span>
        <span class="size-t w20">文件大小</span>
      </div>
      <div class="scroll">
        <app-item
          *ngFor="let item of alreadyUploadQueue; let i = index"
          [node]="item"
          [index]="i"
          type="already"
        ></app-item>
      </div>
    </div>
  </div>
</div>
