<ul class="img-list">
    <li *ngFor="let item of _photos; index as i" class="image-list pos-r">
        <img
            imgGallery
            alt=""
            [src]="item"
             *ngIf="item && item.length < 10000"
         />
        <img [src]="item" *ngIf="item && item.length > 10000" alt="" />
    </li>
</ul>
 

<div class="add-image-small add-image-file ml-5" fxLayout="row" fxLayoutAlign="start center">
     <input type="file" multiple="multiple" accept="image/*" (change)="doCheckImg($event)" />
    <span>选择</span>
</div>
